#projects {
    height: 100%;
    background: #f1f1f2;
    overflow-x: hidden;
    padding-bottom: 60px
}

.workBelt {
    width: 200%;
    position: relative;
    transition: 1s;
}

.thumbWrap  {
    width: 50%;
    float: left;
}

.thumbContainer {
    margin: auto;
    max-width: 1000px;
}

.projectsHead {
    text-align: center;
    text-transform: uppercase;
    color: #763626;
    font-size: 20px;
    //font-weight: 900;
    padding-top: 60px;
    position: relative;
}

.projectsUnderline {
    height: 2px;
    width: 400px;
    background-color: #763626;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.thumbUnit {
    height: 150px;
    float:left;
    margin-left: 0;
    width:25%;
    position: relative;
    opacity:1;

}

.thumb {
	position: absolute;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}

.thumbOverlay {
    height: 100%;
    background-color: #763626;
    opacity: 0;
    text-align: center;
    transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thumbOverlay:hover {
    opacity: 0.8;
}

strong1 {
	display: block;
    padding: 20px 20px 10px;
    color: #2a3132;
    //font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
}


/* WORK SECTION */

.workWrap {
    width: 50%;
    float: left;
}

.workContainer {
    margin: auto;
    max-width: 600px;
    position: relative;
	display: none;
}

h4 {
    color: #2a3132; /* change color */
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
	margin: 0 40px 20px;

}

.thumbReturn {
    cursor:pointer;
    opacity: 0.5;
	position: absolute;
    width: 25px;
	margin-top: -12px;
}

.thumbReturn:hover {
    opacity: 1;
}
