#skills {
    height: 100%;
    background-color: #f1f1f2;
    overflow-x: hidden;
    padding-bottom: 60px;
}

.skillsBelt {
	width: 200%;
    position: relative;
	//transition: 1s;
	//right:100%;
}

.skillsWrap {
    width: 50%;
    float: left;
}

.skillsContainer {
    margin: auto;
    max-width: 1200px;
}

.skillsLockup {
	max-width: 900px;
	margin: auto;
}

.skillsUnit {
	width: 300px;
	height: 200px;
	float: left;
	position: relative;
}

.skillsBar {
	display: inline-block;
	margin-left: 50px;
	top: 120px;
	position: absolute;
}

span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #2a3132;
	border-radius: 50%;
	margin-right: 5px 
}

span::after {
	content: "";
	display: inline-block;
	width: 11px;
	height: 11px;
	background: white;
	border-radius: 50%;
	margin-left: 2px;
	margin-bottom: 1px	
}


.skill3 span:nth-child(n+4){
	background: #ccc;
}

.skill4 span:nth-child(n+5){
	background: #ccc;
}

.skill5 span:nth-child(n+6){
	background: #ccc;
}

.skill6 span:nth-child(n+7){
	background: #ccc;
}

.skill7 span:nth-child(n+8){
	background: #ccc;
}

.skill8 span:nth-child(n+9){
	background: #ccc;
}

.skill9 span:nth-child(n+10){
	background: #ccc;
}


.skillsHead {
    text-align: center;
    text-transform: uppercase;
    color: #763626;
    font-size: 20px;
    //font-weight: 900;
    padding-top: 60px;
}

.skillsUnderline {
    height: 2px;
    width: 400px;
    background-color: #763626;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.certificationsReturn {
    cursor:pointer;
    opacity: 0.5;
    width: 50px;
position: absolute;
	right: 50%;
	margin-top: 30px;
}

.certificationsReturn:hover {
    opacity: 1;
}

.skillIcons {
  //  cursor:pointer;
  //  opacity: 0.5;
  //  width: 25%;
	position: relative;
  //  margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;

}

//.skillIcons:hover {
    opacity: 1;
}
 


/* CERTIFICATIONS */


.certificationsWrap {
    width:50%;
    float: left;
}

.certificationsContainer{
	margin: auto;
	max-width: 800px;
	display: none;
 
}

.certificatesHead {
    text-align: center;
    text-transform: uppercase;
    color: #763626;
    font-size: 20px;
    //font-weight: 900;
    padding-top: 60px;
}

.certificatesUnderline {
    height: 2px;
    width: 400px;
    background-color: #763626;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.skillsReturn {
    cursor:pointer;
    opacity: 0.5;
    width: 50px;
//position: absolute;
float: left;
	margin-top: 25px;
}

.skillsReturn:hover {
    opacity: 1;
}

.certificationsIconsContainer {
	width: 300px;
	height: 180px;
	position: relative;
	float: left;
	padding-right: 101px;
	align-items: center;
	display: flex;
}


.certificationsIcons {
   // cursor:pointer;
   // opacity: 0.5;
	position: absolute;
}

//.certificationsIcons:hover {
    opacity: 1;  
}

.certificationsDescription {
	margin: auto 350px;
	line-height: 2em;
	width: 500px;
	list-style: none;
	//text-overflow: ellipsis;
	color: #2a3132;
	display: block;
	position: absolute;
	//overflow: hidden;
}

//li {
	margin-bottom: 10px;
}


