.skills {
    height: 100%;
    background-color: #f1f1f2;
    overflow-x: hidden;
    padding-bottom: 60px;
}

.skillsBelt {
	width: 200%;
    position: relative;
	transition: 1s;
	//right:100%;
}

.skillsWrap {
    width: 50%;
    float: left;
}

.skillsContainer {
    margin: auto;
    max-width: 1200px;
}

.skillsLockup {
	max-width: 900px;
	margin: auto;
}

.skillsUnit {
	width: 300px;
	height: 160px;
	float: right;
	position: relative;

}

.skillsBar {
	display: inline-block;
	margin-left: 50px;
	top: 120px;
	position: absolute;

}

span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: black;
	border-radius: 50%;
	margin-right: 5px
}

span::after {
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	background: white;
	border-radius: 50%;
	margin-left: 1px;
	margin-bottom: 1px

}

.skillsHead {
    text-align: center;
    text-transform: uppercase;
    color: #763626;
    font-size: 20px;
    //font-weight: 900;
    padding-top: 60px;
}

.skillsUnderline {
    height: 2px;
    width: 400px;
    background-color: #763626;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}

.certificationsReturn {
    cursor:pointer;
    opacity: 0.5;
    width: 50px;
	position: absolute;
	right: 50%;

}

.certificationsReturn:hover {
    opacity: 1;
}


.skillIcons {
  //  cursor:pointer;
  //  opacity: 0.5;
  //  width: 25%;
	position: relative;
	//margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;

}

//.skillIcons:hover {
    opacity: 1;
}
 


/* CERTIFICATIONS */


.certificationsWrap {
    width:50%;
    float: left;
}

.certificationsContainer{
	margin: auto;
	max-width: 800px;
	display: block;
 
}

.certificatesHead {
    text-align: center;
    text-transform: uppercase;
    color: #763626;
    font-size: 20px;
    //font-weight: 900;
    padding-top: 60px;
}

.certificatesUnderline {
    height: 2px;
    width: 400px;
    background-color: #763626;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.skillsReturn {
    cursor:pointer;
    opacity: 0.5;
    width: 50px;
    position: absolute;
}

.skillsReturn:hover {
    opacity: 1;
}

.certificationsIconsContainer {
	width: 300px;
	margin-bottom: 80px;
	position: relative;
}


.certificationsIcons {
   // cursor:pointer;
   // opacity: 0.5;
	margin-bottom: 50px;
	position: absolute;
	width: 
}

//.certificationsIcons:hover {
    opacity: 1;  
}

.certificationsDescription {
	margin-left: 350px;
	line-height: 2em;
	width: 500px;
	list-style: none;
	text-overflow: ellipsis;
	color: #2a3132;
	display: block;
	overflow: hidden;
}

//li {
	margin-bottom: 10px;
}


